
<div class="container">
  <div class="arrow">
    <span class="material-symbols-outlined notranslate"style="font-size: 28px;" (click)="navTo()">arrow_back</span>&nbsp;
    <span class="tittle"  >Address information</span>
</div>
<div class="form-container">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="houseNo">H.no / Door.no / Flat.no</label>
        <input id="houseNo" formControlName="houseNo" placeholder="Enter your H.no">
      </div>
      <div>
        <label for="address">Address</label>
        <input id="address" formControlName="address" placeholder="Enter your Address" [(ngModel)]="destinationInput" (input)="fetchSuggestions()">
      </div>
      <ul *ngIf="suggestions.length > 0">
        <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
            {{ suggestion.description }}
        </li>
      </ul>
      <div>
        <label for="landMark">Landmark</label>
        <input id="landMark" formControlName="landMark" placeholder="Enter landmark">
      </div>
      <div>
        <label for="city">City / Town / Village</label>
        <input id="city" formControlName="city" placeholder="Enter City">
      </div>
      <div>
        <label for="state">State</label>
        <input id="state" formControlName="state" placeholder="Enter state">
      </div>
      <div>
        <label for="pincode">Pincode</label>
        <input id="pincode" formControlName="pincode" placeholder="Enter your Pincode">
      </div>
      <button type="submit">Save & Continue</button>
    </form>
  </div>
</div>
<!-- <div>
  <input type="text" [(ngModel)]="destinationInput" (input)="fetchSuggestions()"
      placeholder="Search for area, Street, Locality" class="input">
  <ul *ngIf="suggestions.length > 0">
      <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
          {{ suggestion.description }}
      </li>
  </ul>
</div> -->
<div id="map" style="height: 400px ;width: 100%;"></div>