<!-- <div class="container">
    <div class="sub-container">
        <img src="assets\location\logo-v3 3.png">
    </div>
    <div class="sub2-container">
       
         <img class="man-img" src="assets/location/login-home-services-image.png">
        
        <p class="text">Home <strong>SERVICES</strong>
            at your Door Step</p>

       <div class="lets-go-div" >
         <span class="lets-go" (click)="navTo()">Lets Go</span>&nbsp;&nbsp; <span class="material-icons" >arrow_circle_right</span>
        </div>
    </div>
    
</div> -->





<!-- 
<div class="container">
    <div class="sub-container">
        <img src="assets\location\logo-v3 3.png">
    </div>
    
    
</div> -->


<div class="container">
    <div class="logo">
      <img src="assets/logo/logo png1.png" alt="Coolie No. 1">
    </div>
    <div class="content">
      <img src="assets/location/login-home-services-image.png" alt="Worker" class="worker-image">
      <div class="text">
        <h2>Home <span>SERVICES</span> at your <br> Door Step</h2>
        <button class="cta-button" (click)="navTo()">Let's Go &nbsp;
          <span class="material-symbols-outlined">
            arrow_forward
            </span>
          <!-- <i class='fas fa-arrow-right' style='font-size:36px'></i> -->
        </button>
      </div>
    </div>
  </div>
  
