<div id="main">
  <div class="container">
    <div class="logo">
      <img src="assets/logo/logo png1.png" alt="Coolie No. 1">
    </div>
  </div>

  <div class="check">
    <div class="content">
      <img src="assets/location/login-home-services-image.png" alt="Worker" class="worker-image">
      <div class="text">
         <span>Home  <span>SERVICES</span></span> 
         <span>at your  Door Step</span>
        <button class="cta-button" (click)="navTo()">Let's Go &nbsp;
          <!-- <span class="material-symbols-outlined notranslate">
            arrow_right_alt
          </span>
          <span class="material-symbols-outlined">
            arrow_upward
            </span> -->
            <img src="assets/new/arrow.png">
        </button>
      </div>
    </div>
  </div>
</div>