@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  /* align-items: center; */
  /* text-align: center; */
}
.sub-container {
  width: 90%;
  /* height: 100%; */
  position: relative;
  /* top: 5%; */
  left: 5%;
  /* border: 1px solid red; */
  align-items: center;
  display: grid;
  grid-gap: 0.5rem;
  text-align: center;
}
.tittle {
  font-family: "inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
}
.material-symbols-outlined {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 28px;
}

.search-input {
  padding-left: 3.5rem; /* Adjust padding as needed */
}

.serivce {
  height: 78vh;
  width: 100%;
  /* border: 1px solid rebeccapurple; */
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.service-div {
  display: flex;
  justify-content: space-between;
}
.names {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-family: "inter" sans-serif;
  font-weight: 400;
  line-height: 16.3px;
}
.names img {
  width: 2rem;
  height: 2rem;
}
.checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid red;
  border-radius: 50%;
}
.login-btn {
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border-radius: 4rem;
  border: none;
  background-color: #d16611;
  /* position: fixed;
  top: 92%;
  left: 5%; */
  margin-bottom: 20px;
}

.btn_div {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.title-container {
  margin-top: 20px;
}

.tittle {
  font-family: "inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 24px;
}

/* akash : added css for search bar from here*/
.search-container {
  position: relative;
  width: 100%;
}
.search-container input[type="text"] {
  padding-right: 30px;
  width: 70%;
  height: 2.5rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  border: 0.25px solid #9d9d9d;
}
.search-input {
  padding-left: 3rem; /* Adjust padding as needed */
}

.search-input::placeholder {
  font-family: "Inter";
  font-weight: 200;
  font-size: 14px;
  line-height: 12.1px;
  text-align: start;
  color: #9d9d9d;
}

/* Style for search icon */
.search-container .material-symbols-outlined {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
  font-size: 32px;
  margin: 0;
}

.service_title_and_selectAll_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
/* added css for inputbox */
.select_all_inputbox {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 17px; 
    height: 17px; 
    border: 1px solid #57585a;
    border-radius: 2px;
    background-color: #ffffff; 
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  /* added css for inputbox */
  .select_all_inputbox:checked {
    background-color: #ffffff; 
    border: 1px solid #57585A; 
  }
  /* added css for inputbox */
  .select_all_inputbox:checked::after {
    content: '✔'; 
    color: #FFA226; 
    font-size: 14px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
  

.select_all_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.item-center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.services_name_container {
  min-height: 244px;
  margin-bottom: 10px;
  border: 1px solid black;
  overflow-y: auto;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 12px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
}

.services_name_container::-webkit-scrollbar {
    background-color: #57585a;
    border-radius: 40px;
    width: 8px;
  }
  
  .services_name_container::-webkit-scrollbar-thumb {
    background-color: #d16611;
    border-radius: 40px;
  }
  
  .services_name_container::-webkit-scrollbar-track {
    background-color: #57585a;
    border-radius: 40px;
  }
