<br><br>&nbsp;&nbsp; &nbsp;<span class="material-symbols-outlined notranslate" (click)="navBack()">arrow_back</span><br><br>
<div class="container">
  
    <div class="sub-container">
        <div class="profile">
            <div class="image">
                <img [src]="userImage ? userImage: 'assets/logo/profile.png'" class="profile-img"> 
            </div>
            <div class="details">
                <div class="details-div">
                    @if (userName==='' || undefined || null) {
                        <span>Name</span> 
                    }
                    @else {
                        <span>{{userName}}</span> 
                    }
                    
                    <span class="package" (click)="navTo('packages')">
                        <img src="assets/packages/silver coin 1.png" class="package-img">&nbsp;
                        <pre>Silver</pre>
                    </span>
                </div>
                <div class="rating"> <span class="material-symbols-outlined notranslate" >star</span>{{providerRating}}</div>
                <button (click)="navToVisiting()">View more</button>
            </div>
        </div>
        <br>
        <div class="category">
            @for (item of options; track $index) {
                <br>
            <div (click)="navTo(item.name)">
                <div (click)="navTo(item.name)">
                    <span class="material-symbols-outlined notranslate" >{{item.icon}}</span> &nbsp;
                    &nbsp; <span>{{item.name}}</span>
                </div>
                <span class="material-symbols-outlined notranslate" >arrow_forward_ios</span>
             
            </div>
            <hr>

            }
        </div>
        <br>
        <div class="updates">
            <div class="finacial" (click)="navToFinancial()">
                <div class="iconss">
                    <span class="material-symbols-outlined notranslate" >currency_rupee</span>
                </div>
                <div>
                    <span>Financial details</span><br>
                    GST,PAN and bank information
                </div>
            </div>
            <div class="finacial">
                <div class="iconss">
                    <span class="fa fa-whatsapp"></span>
                </div>
                <div>
                    <span>Send whatsApp updates</span><br>
                    <span (click)="statusChange()">{{whatsAppStaus}}</span>
                </div>
            </div>
            <div class="finacial" [routerLink]="'/language'" routerLinkActive="language">
                <div class="iconss">
                    <span class="material-symbols-outlined notranslate" >g_translate</span>
                </div>
                <div>
                    <span>Change language</span><br>
                    English
                </div>
            </div>
        </div>
        <br>
        <div class="btn" (click)="logOut()"> 
          <button><span class="material-symbols-outlined notranslate" >power_settings_new</span>&nbsp; Logout</button>
        </div>
    </div>
</div>