<div class="container">
    <div class="arrow">
        <span class="material-symbols-outlined" (click)="navToBack()"  style="font-size: 28px;" >arrow_back</span><br><br> &nbsp;
        <span class="tittle"  >How can we help you?</span>
    </div>
    <div class="sub-container">
      <span class="tittle1">All Topics</span>
      <div class="topics">
            <div>
                <span class="material-symbols-outlined" >person</span>
                &nbsp;<span class="namee">Account</span>
            </div>
            <span class="material-symbols-outlined" >chevron_right</span>
      </div>
      <div class="line"></div>
      <div class="topics">
            <div>
                <span class="material-symbols-outlined" >credit_card</span>
                &nbsp;<span class="namee">Payments & credits</span>
            </div>
            <span class="material-symbols-outlined" >chevron_right</span>
     </div>
     <div class="line"></div>
     <div class="topics">
            <div>
                <span class="material-symbols-outlined" >verified_user</span>
                &nbsp;<span class="namee">Safety</span>
            </div>
            <span class="material-symbols-outlined" >chevron_right</span>
     </div>
    
    </div>
</div>