<section class="container">
    <span class="material-symbols-outlined notranslate" (click)="navTOBack()">
      arrow_back
    </span>
    
    <div class="arival-status">
      <span>Reached customer location</span>
      <div>
        <span class="material-symbols-outlined  notranslate" style="font-size: 24px; margin-right: 1.5rem;">call</span>
        <span class="material-symbols-outlined notranslate" style="font-size: 24px; margin-right: 1.5rem;" (click)="navToChat()">forum</span>
      </div>
    </div>
    
    <!-- Map Container with #map reference and height -->
    <div #map id="map" style="height: 500px; width: 100%;"></div>
  
    
    <div class="location">
      <span class="material-symbols-outlined notranslate">near_me</span>
      <span>{{userFullAddress}}</span>
    </div>
  
    <div class="slide-toggle">
      <input type="checkbox" id="toggle" (change)="toggleDisplay($event)">
      <label for="toggle" class="already-label"></label>
    </div>
  </section>
  