<div class="container">
    <button class="skip-btn" (click)="skip()">skip</button>
    <div class="sub-container">
       
        <div>
            <span class="tittle">PAN Number</span><br><br>
            <span class="tittle1">Please Input your PAN number</span><br><br>
        </div>
        <div class="pan">
            <img src="assets\documents\pancard.png">
        </div>
        <div class="input">
            <input type="number" placeholder="PAN Number"  id="Enter GST Number" required><br>
            <input type="number" placeholder="Enter GST Number"  id="Enter GST Number" required>
        </div>
        <button type="submit" class="login-btn" (click)="submit()">Submit</button>
    </div>
 
       
</div>