<div class="container">
    <div class="sub-container">
        <span class="tittle">Lets Get the Documentation Done....!!</span><br><br>
        <div class="sub-div1">
           
            <div>
                <label for="name">Adhar Number</label><br>
                <input type="number" placeholder="name"  id="names" required>
            </div>
            <br>
            <button >Verify</button>
            <div>
                <label for="name">OTP</label><br>
                <input type="number" placeholder="OTP"  id="names" required>
            </div>
        </div>
        <button type="submit" class="login-btn" (click)="verify()">Verify</button>
    </div>
    <br><br>
       
</div>