<div class="container">
    <span class="material-symbols-outlined notranslate" (click)="navTOBack()">
        arrow_back
    </span>
    <div class="image">
        <img src="assets/new/Man washing hand.png">
    </div>
    <section class="details">
        <div class="details-div">
            <span class="about">
                <span class="highlight-text">{{ work?.orderId?.items[0]?.quantity }} X {{ work?.orderId?.categoryIds[0]?.name }}</span>
            </span>
            <span class="sub-title">{{ work?.orderId?.items[0]?.quantity }} X {{ work?.orderId?.subCategoryIds[0]?.name }}</span>
            <div class="line"></div>
        </div>
      
        <div class="time-div">
            <p>
                <span>Others</span><br>
                <span class="highlight-text">Convenience Fee</span>
            </p>
            <p class="highlight-text">69</p>
        </div>
        <div class="line"></div>
        <br>
        <div class="time-div">
            <p>
                <span class="highlight-text">Total value</span><br>
                <span>commission credits</span>
            </p>
            <p class="highlight-text">{{ work?.orderId?.totalAmount }}</p>
        </div>
    </section>
   
    <div class="slide-toggle">
        <input type="checkbox" id="toggle" [(ngModel)]="alreadyHasAccount" (change)="toggleDisplay()">
        <label for="toggle" class="already-label"></label>
    </div>
</div>
