<div class="container">
    <div class="arrow">
        <span class="material-symbols-outlined notranslate" (click)="navToBack()" style="font-size: 24px;" >arrow_back</span>&nbsp;<span class="tittle"  >Job History</span>
    </div>
    <div class="sub-container">
        <div>
            @for (item of jobs; track $index) {
            
            <div class="section" (click)="selectedJob(item)">    
                    <div>
                       <p> <span class="main-text">{{item.orderId?.items[0]?.serviceId.name}}</span></p>
                       <p> 
                            <span class="material-symbols-outlined notranslate" style="font-size: 1rem;" (click)="navToBack()"   >account_balance_wallet</span>&nbsp;
                            <span class="text">Job value:{{item.orderId?.totalAmount}}</span>
                        </p>
                        <p>
                            <span class="material-symbols-outlined notranslate" style="font-size: 1rem;"  (click)="navToBack()"  >description</span>&nbsp;
                            <span class="text">Online Payments:{{item.orderId?.totalAmount}}</span>
                        </p>
                    </div>
                    <div>
                        <p class="main-text">{{item.orderId?.items[0]?.selectedTime}}</p>
                        
                        <p class="text">{{item.orderId?.items[0]?.selectedDate}} - {{item.orderId?.items[0]?.selectedMonth}}</p>
                    </div>
                </div> 
                <br>
               
               
            }
        </div>
    </div>
</div>