<div class="container">
    <div class="arrow">
        <span class="material-symbols-outlined notranslate" style="font-size: 28px;" (click)="navToBack()">arrow_back</span>
        <span class="tittle">Manage Services</span>
    </div>
    <div class="sub-container">
      <div class="new-address"(click)="navToSelectWork()" >
        <div>
            <span class="material-symbols-outlined notranslate">
                add
            </span>
            <span>Add new Services</span>
        </div>
       
    </div>
      @for (work of works; track $index) {
       
        <div  class="work-div">
        
          <h3>Category : {{ work.categoryId.name }}</h3>
         <section class="service-section"> 
          <h3> SubCategory : {{work.subcategoryId.name}}</h3>
          <span class="material-icons" (click)="removeWork(work._id)">
            delete
          </span>
         </section>
          <!-- Display subcategories if available -->
          <div>
            <h3>Services :</h3>
            <ul>
              <li >
                {{ work.serviceId.name }}
                <!-- @if (work.serviceId.length>1){
                <span class="material-icons" (click)="removeSubcategory(work._id, subcategory._id)">
                  delete
                </span>
              } -->
              </li>
            </ul>
          </div>
          <p *ngIf="work.subcategoryId.length === 0">No subcategories available</p>
        
          <!-- Experience information -->
          <p>Experience: {{ work.experience }}</p>
         
        </div>
      }
      

          
    </div>
</div>