<div class="container">
    <div class="arrow">
        <span class="material-symbols-outlined" (click)="navToBack()" style="font-size: 28px;" >arrow_back</span>&nbsp;
        <span class="tittle"  >Identity Verification</span>
    </div>
    
    <div class="para">
        <p>We were to successfully verify your details .
            As a part of our quality process we will request 
            you to re-verify the information every 5months </p>
    </div>
    <div class="verify-div">
        @for (item of items; track $index) {
            <div>
                <label class="custom-checkbox" [class.checked]="item.checked">
                    <input type="checkbox" [checked]="item.checked" disabled>
                </label> &nbsp;
                <span class="tittle">{{item.name}}</span>
            </div>
            <br>
        }
        
    </div>
</div>