<section class="container">

    <span class="material-symbols-outlined notranslate" (click)="navTOBack()">
        arrow_back
    </span>
    <div class="arival-status">
        <span>On  the way </span>
        <button (click)="cancel()">Cancel</button>
    </div>
    <div id="map" #map style="height: 500px; width: 100%;"></div>
    
    <div class="location">
        <span class="material-symbols-outlined notranslate">
            near_me
        </span>
        <span>
           {{userFullAddress}}
        </span>
    </div>
    <!-- <div class="slide-toggle" *ngIf="toggleChecked">
        <input type="checkbox" id="toggle" (click)="handleDisabledClick()" [disabled]="!toggleChecked"   (change)="toggleDisplay($event)">
        <label for="toggle" class="already-label"></label>
    </div> -->
    <div class="slide-toggle " >
        <input type="checkbox" id="toggle" (click)="handleDisabledClick()"  (change)="toggleDisplay($event)">
        <label for="toggle" class="already-label"></label>
    </div>
</section>